<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>AddContact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="addGroup">
        <ion-item>
          <ion-label>First Name</ion-label>
          <ion-input formControlName="first_name" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Last Name</ion-label>
          <ion-input formControlName="last_name" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Phone 1</ion-label>
          <ion-input formControlName="phone1" type="tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Phone 2</ion-label>
          <ion-input formControlName="phone2" type="tel"></ion-input>
        </ion-item>
        <br>
        <ion-button [routerLink]="['/tabs']" (click)="addContact(form)" [disabled]="addGroup.invalid" expand="full" color="success">Save</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
